<div class="container">
  <div class="row">
    <h1>マイページ</h1>
    <strong>登録情報</strong>
    <%= link_to "編集する", edit_customers_path, method: :get, class: "btn btn-primary" %>
    <%= link_to "パスワードを変更する", edit_customer_registration_path, method: :get, class: "btn btn-primary" %>

    <h4>氏名</h4>
    <%= @customer.kanji_familyname %>
    <%= @customer.kanji_firstname %>

    <h4>カナ</h4><%= @customer.kana_familyname %>
    <%= @customer.kana_firstname %>

    <h4>郵便番号</h4><%= @customer.postal_code %>

    <h4>住所</h4><%= @customer.address %>

    <h4>電話番号</h4><%#= @cutomer.telephone_number %>

    <h4>メールアドレス</h4><%= @customer.email %>

    <h4>配送先</h4><%= link_to "一覧を見る", "#", method: :get, class: "btn btn-primary" %>

    <h4>注文履歴</h4><%= link_to "一覧を見る", "#", method: :get, class: "btn btn-primary" %>
  </div>
</div>
<%= render "shared/footer" %>