<div class="container">
  <div class="row">
    <%= render"shared/function" %>
    <div class="col-md-8">
    <strong>登録情報</strong><br>
    <%= link_to "編集する", edit_customers_path, method: :get, class: "btn btn-primary" %>
    <%= link_to "パスワードを変更する", edit_customer_registration_path, method: :get, class: "btn btn-primary" %>

    <table class="table table-bordered">  
      <tr>
        <th>氏名</th>
        <td><%= @customer.kanji_familyname %> <%= @customer.kanji_firstname %></td>
      </tr>

      <tr>
        <th>カナ</th>
        <td><%= @customer.kana_familyname %> <%= @customer.kana_firstname %></td>
      </tr>

      <tr>
        <th>郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>

      <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>

      <tr>
        <th>電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </table>

      <h4>配送先</h4><%= link_to "一覧を見る", deliveries_path, class: "btn btn-primary" %>

      <h4>注文履歴</h4><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
  </div>
  </div>
</div>