<%= render 'shared/header' %>

<h2>ジャンル検索</h2>
<ul>
	<li><%= link_to 'ケーキ',products_path, genre_id: @genre.id %></li>
	<li><%= link_to '焼き菓子',products_path, genre_id: @genre.id %></li>
	<li><%= link_to 'プリン',products_path, genre_id: @genre.id %></li>
	<li><%= link_to 'キャンディ',products_path, genre_id: @genre.id %></li>
</ul>

<h1><%= @name %>一覧</h1>
<p>全<%= @products.count %>件</p>
<% @products.each do |product| %>
	<%# attachment_image_tag product, :image, :fill, 50, 50, size: '50x50' %>
	<p><%= product.name %></p>
	<p><%= product.price %></p>
<% end %>



