
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <p class="header-logo">ながのCAKE</p>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <%= button_to "商品一覧", admins_products_path, method: :get, class: "btn btn-default navbar-btn" %>
          <%= button_to "会員一覧", admins_customers_path, method: :get, class: "btn btn-default navbar-btn" %>
          <%= button_to "注文履歴一覧", admins_orders_path, method: :get, class: "btn btn-default navbar-btn" %>
          <%= button_to "ジャンル一覧", admins_genres_path, method: :get, class: "btn btn-default navbar-btn" %>
          <%= button_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
          <%= form_tag do %>
            <%= text_field_tag :search,'', class: 'seach-text', placeholder: '検索' %>
            <%= submit_tag 'Search' %>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>