<div class ="container" >
    <div class ="row">
        <div class ="col-xs-9　offset-lg-3">
            <h2>ショッピングカート</h2>
            <div clss ="text-right">
                <p><%= link_to "カートを空にする",  cart_items_destroy_all_path, method: :delete, class: 'btn btn-danger' %></p>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>単価（税込）</th>
                        <th>数量</th>
                        <th>小計</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <% @cart_items.each do |cart_item| %>
                        <tr>
                            <td><%= cart_item.product.name %></td>
                            <td><%= (cart_item.product.price * 1.1).to_i %></td>
                            <td>
                                <%= form_with(model: cart_item, local: true )do |f| %>
                                    <%= f.number_field :quantity, value: cart_item.quantity %>
                                    <%= f.submit "変更", class: 'btn btn-primary' %>
                                <% end %>
                            </td>
                            <td>
                                <%= (cart_item.product.price * cart_item.quantity * 1.1).to_i %>
                                <% @total_price = cart_item.product.price * 1.1 * cart_item.quantity + @total_price %>
                            </td>
                            <td><%= link_to "削除", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <h2><%= link_to "買い物を続ける", products_path, class: 'btn btn-primary' %></h2>
            <div clss ="text-right">
                <table class="table table-bordered">
                        <tr>　
                            <th>合計金額</th><td><%= @total_price.to_i %></td>
                        </tr>
                </table>
            </div>
        </div>
        <div clss ="text-center">
            <h2><%= link_to "情報入力", new_order_path, class: 'btn btn-success btn-lg active' %></h2>
        </div>
    </div>
</div>