<div class= "container">
    <div class="row">
        <div class="col-lg-8">
            <h2><strong>注文履歴詳細</strong></h2>
            <table>
                <thead>
                    <tr>
                        <th>注文日</th>
                        <th>配送先</th>
                        <th>支払方法</th>
                        <th>ステータス</th>
                    </tr>
                </thead>

                <tbody>                        
                    <tr>
                        <td><%= @order.created_at %></td>
                        <td>
                            <%= @order.postal_code %><br>
                            <%= @order.address %><br>
                            <%= @order.name %> 
                        </td>
                        <td><%= @order.payment_method %></td>
                        <td><%= @order.status %></td>
                    </tr>                    
                </tbody>
            </table>
            <h2><strong>注文内容</strong></h2>
            <table>
                <thead>
                    <tr>
                        <th>商品</th>
                        <th>単価（税込）</th>
                        <th>個数</th>
                        <th>小計</th>
                    </tr>
                </thead>

                <tbody>
                    <% @order.ordered_products.each do |ordered_product| %>                        
                        <tr>
                            <td><%= ordered_product.product.name  %></td>
                            <td><%= (ordered_product.product.price * 1.1).to_i %></td>
                            <td><%= ordered_product.quantity %></td>
                            <td>
                                <%= (ordered_product.product.price * ordered_product.quantity * 1.1).to_i %>
                                <% @total_price = (ordered_product.product.price * 1.1 * ordered_product.quantity + @total_price).to_i %>
                            </td>
                        </tr>
                    <% end %>                    
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <h2><strong>注文履歴詳細</strong></h2>
            <table>
                    <tr>　
                        <th>商品合計</th><td><%= @total_price %></td>
                    </tr>
                    <tr>
                        <th>配送料</th><td><%= 800 %></td>
                    </tr>
                    <tr>
                        <th>ご請求額</th><td><%= @total_price + 800 %></td>
                    </tr>
            </table>
        </div>
    </div>
</div>
