<!-- 商品画像 -->
<%= form_with model: @product, url: admins_products_path(@product.id), local: true do |f| %>
	<div class="user-edit-image">
		<%# attachment_image_tag @image, :image, :fill, 100, 100, class: "img-circle pull-left profile-thumb"%>
		<%= f.attachment_field :image, placeholder: "Image" %>
	</div>

	<!-- 商品名 -->
    <label>商品名</label>
	<%= f.text_field :name, autofocus: true, placeholder:"商品名"%>

	<!-- 商品説明 -->
	<label>商品説明</label>
	<%= f.text_area :explanation, autofocus: true%>

	<!-- 　ジャンル　 -->
	<%= f.select :genre_id, @genres,{},{class: "select" } %>

	<!-- 税抜価格 -->
	<label>税抜価格</label>
	<%= f.text_field :price, autofocus: true%>

	<!-- 販売ステータス -->
	<label>販売ステータス</label>
	<%= f.select :is_active, {'販売中': true, '販売停止中': false}, { class: 'form-control' , required: true } %>
	<%= f.submit '変更を保存',class: "btn btn-primary btn-lg" %>
<% end %>