<div class="col-xs-4">
  <div class="button-container">
  <a href="admin_products" class="button">
    商品追加
  </a>
</div>
  <table class="table">
  <h1 class="index">商品一覧</h1>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
    	<th>税抜価格</th>
    	<th>ジャンル</th>
    	<th>ステータス</th>
      </tr>
</div>
<div class="col-xs-8">
      <tr>
        <% @products.each do |product| %>
            <td><%= product.id %></td>
        	  <td><%= link_to product.name, admins_product(product.id)%></td>
        	  <td><%= product.price %></td>
        	  <td><%= product.genre %></td>
      	      <% if @product.actived_by?(product) %>
                <td>販売中</td>
              <% else %>
                <td>販売停止中</td>
              <% end %>
          <% end %>
      </tr>
    </thead>
  </table>
  <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="前のページへ">
        <span aria-hidden="true">«</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="次のページへ">
        <span aria-hidden="true">»</span>
      </a>
    </li>
  </ul>
  <%= paginate @products %>
</nav>
</div>
</div>