<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body>
<% if admin_signed_in? %>
<!-- 管理者画面のヘッダー -->
  <%= render "shared/header" %>
  <main>
    <div class="container">
      <%= render "shared/function" %>
      <%= yield %>
    </div>
  </main>
<% elsif customer_signed_in? %>
<!-- 顧客側　ログイン後 -->
    <%= render "shared/cs_header" %>
    <main>
        <div class="container">
          <%= yield %>
        </div>
    </main>
<% else %>
<!-- 顧客側　ログインなし -->
    <%= render "shared/cs_header_before" %>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
<% end %>
<footer>
  <div id="footerWrap">
    <div id="footer">
    </div>
  </div>
</footer>
</body>
</html>
